<div class="d-block">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card>
      <mat-card-title class="d-flex justify-content-center mt-3">Time to start a workout!</mat-card-title>
      <mat-card-content class="d-flex justify-content-center mt-5">
        <!-- <mat-form-field *ngIf="!(isLoading$ | async) && (exercises$ | async)"> -->
        <mat-form-field>
          <mat-select placeholder="Choose Exercise" ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of (exercises$ | async)" [value]="exercise.name">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-spinner *ngIf="isLoading$ | async"></mat-spinner> -->
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-center" *ngIf="!(isLoading$ | async)">
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid" style="margin-top: 1rem !important;">Start</button>
        <button *ngIf="!(exercises$ | async)" type="button" mat-raised-button color="primary" (click)="fetchExercises()" style="margin-top: 1rem !important;">Fetch Again</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
