
<div class="d-flex justify-content-center mt-5">
  <h1>{{'sign up' | translate | uppercase}}</h1>
</div>

<div class="d-flex justify-content-center">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" style="width: 33%;">
    <mat-form-field class="w-100 mb-2">
      <input
        type="email"
        matInput
        placeholder="Your email"
        ngModel
        name="email"
        required
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100 mb-3" hintLabel="Should be at least 6 characters long.">
      <input
        type="password"
        matInput
        placeholder="Your password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters long.</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100 mb-3">
      <input
        matInput
        placeholder="Your birth date"
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="birthDate"
        required>
      <!--matSuffix: set position at the end of line-->
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox ngModel name="agree" required class="w-100">Agree to Terms and Conditions.</mat-checkbox>

    <div class="d-flex justify-content-center mt-3">
      <button mat-raised-button type="submit" color="primary" [disabled]="f.invalid">{{'submit' | translate | uppercase}}</button>
    </div>
  </form>
</div>

