::ng-deep .mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  background-color: rgb(198, 241, 255);
  font-weight: 700;
  border-radius: 6px;
}

::ng-deep .mat-tab-label
{
  width: 50%;
}
